* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.grid-container {
    /**height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px 1fr;**/

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

.main {
    grid-area: main;
    display: grid;
}

ul {
    list-style-type: none;
}

.logo {
    width: 50px;
    height: 50px;
}

/** Header **/

header {
    grid-area: header;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bell-icon {
    width: 25px;
    height: 25px;
    position: relative;
}

.notifications {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
}

/** Navigation Bar **/

.main-nav {
    grid-area: navigation;
    background: rgb(227, 186, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    width: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/** Main-Header Section **/

.main-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: fit-content;
}

/** Traffic Section **/

/** Social Section **/

.social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.social-container:nth-child(n+1) {
    margin-bottom: 30px;
}

.social-image {
    margin-right: 15px;
}

/** Members Section **/

.member-container {
    margin-left: auto;
    margin-right: auto;
}

/** Chart Section **/ 

.widget-container-half {
    margin-bottom: 50px;
}

/** Media Query **/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social {
        grid-column: 1 / span 2;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity,
    .settings {
        grid-column: 2 span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-img {
        margin-left: auto;
        margin-right: auto;
    }

    .traffic-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

