* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Klee One', cursive;
}

.grid-container {
    /**height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 70px 1fr;**/

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

.main {
    grid-area: main;
    display: grid;
}

h1 {
    font-size: medium;
}

h2 {
    margin-top: 15px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
}

h4 {
    padding-bottom: 15px;
    padding-left: 30px;
}

p {
    font-size: smaller;
}

.recent-activity {
    padding-top: 0;
}

.message-header {
    padding-top: 15px;
}

/* .new-member-heading,
.message-heading {
    margin-top: -15px;
} */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

/** Header **/

header {
    grid-area: header;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.your-app {
    flex-grow: 2;
}

.bell-icon {
    /* padding-top: 15px; */
    /* margin-left: 10px; */
    width: 20px;
    height: 20px;
    position: relative;
}

.bell-icon:hover {
    transform: rotate(45deg);
}


.notifications {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    position: absolute;
    left: 15px;
    bottom: 18px;   
}

.user-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.Name {
    padding-left: 0;
}

.widget-container-full,
.widget-container-half {
    width: 90vw;
}

.widget-container-full,
.widget-container-half,
.widget-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    
}

.traffic,
.daily,
.mobile,
.message {
    border-bottom: lightgrey 1px solid;
}


/** Navigation Bar **/

.main-nav {
    grid-area: navigation;
    background: rgb(227, 186, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-img {
    width:25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

/** Alert Banner **/

.alert {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    width: auto;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/** Main-Header Section **/

.main-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: fit-content;
}

/** Traffic Section **/

/** Social Section **/

.social-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 150px;
    border-radius: 25px;
    border: silver 1px solid;
    background-color: rgb(231, 231, 231);
    font-size: xx-large;
}

.social-container:nth-child(n+1) {
    margin-bottom: 15px;
}

.social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: grey;
    margin-left: 50px;
    margin-right: 20px;
  }
  
  .social-image svg {
    width: 50px;
    height: 50px;
  }

/** Members Section **/

.members {
    border-top: lightgrey 1px solid;   
}

.member-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: lightgrey 1px solid;
    padding-bottom: 15px;
    padding-top: 15px;
}

.member-container img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.widget-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.form-field {
    margin-bottom: 25px;
} 

.form-area {
    height: 100px;
    margin-bottom: 25px;
}

/** Chart Section **/ 

.widget-container-half {
    margin-bottom: 50px;
}

/** Toggle **/

/* .switch-light {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#switch-flex {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#toggle-switch {
    margin-right: 25px;
    width: 25%;
}

.toggle-settings{
    padding-left: 25px;
    padding-bottom: 15px;
    flex-grow: 2;
}

.toggle-settings:nth-child(2){
    padding-top: 15px;
}

/** Settings Section **/

#timezone {
    width: 270px;
    margin-left: 25px;
}

.settings-button {
    width:270px;
    text-align: center;
    margin-left: 25px;
}

#save,
#cancel {
    width: 131px;
    border-radius: 3px;
}

#save {
    background-color: lightskyblue;   
}

#cancel {
    background-color: lightgray;
}

/* .form-field {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
} */

/* .settings-button {
    text-align: center;
    margin-bottom: 100px;
} */

/* #cancel {
    width: 71px;
} */


/** Media Query **/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "navigation main";
    }

    .main {
        grid-template-columns: 50%;
    }

    .traffic,
    .social,
    .dashboard-header,
    .members,
    .recent-activity,
    .message,
    .settings,
    .settings-button {
        grid-column: 1 / span 2;
    }

    /* Header */
    
    header {
        height: 60px;
    }

   .your-app {
       flex-grow: 3;
       padding-left: 15px;
   }

    .Name{
       padding-right: 15px;
   }

   .bell-icon {
        margin-right: 15px;
        padding: 0;
        width: 25px;
        height: 25px;
        position: relative;
    }

    .border {
        border-left: black 1px solid;
    }

    .notifications {
        left: 20px;
        margin-right: 15px;
    }
   
    .daily
    /* .members,
    .message */{
        grid-column: 1 / span 1;
    }

    .mobile,
    .activity
    /* .settings */ {
        grid-column: 2 span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .mobile {
        border-left: lightgray 1px solid;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-img {
        margin-left: auto;
        margin-right: auto;
    }

    .traffic-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .widget-container-full,
    .widget-container-half
    /* .widget-container */ {
        padding-left: 25px;
    }

    .main-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .search-field {
        width: 500px;
    }

    .alert-banner-close {
        padding-left: 15px;
    }

    /* Social Section */

    .social-container-large-view {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-right: 20px;
    }

    .social-container {
        display: flex;
        flex-direction: row;
        width: 220px;
        height: 100px;
    }

    .social-image {
        margin-left: 10px;
    }

    .social-text {
        padding-right: 5px;
    }

    .social-media {
        font-size: 25%;
    }

    .visitors {
        font-size: 100%;
    }

    /* New Member */  
    
    .member-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        line-height: 25px;
        padding-left: 30px;
    }

    .member-container img {
        margin-left: 0;
        margin-right: 0;
    }

    .member-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        padding-right: 30px;
        flex-grow: 3;
    }

    .join-date {
        padding-right: 20px;
    }

    /* Message and Settings */

    .widget-container,
    #send {
        padding-top: 0;
    }

    .form-area {
        height: 250px;
    }

    .toggle-code {
        display: flex;
        flex-direction: row;
        flex-basis: content;
    }

    .toggle-settings {
        width: 300px;
    }

    #timezone {
        width: 663.46px;
        margin-left: 20px;
        margin-right: 20px; 
    }

    /* .settings-button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    } */

    #save,
    #cancel {
        margin-left: 0px;
        margin-right: 0px;
        width: 300px;
    }
}